body {
  font-family: 'FC Iconic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
@font-face {
  font-family: 'FC Iconic';
  src: url('./assets/fonts/FC Iconic Regular ver 1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FC Iconic';
  src: url('./assets/fonts/FC Iconic Bold ver 1.10.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 16px; 
}

@media (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}
body {
  font-family: 'FC Iconic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
input, 
button, 
textarea, 
select {
  font-family: inherit;
}